@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');

header {
  background-color: #9BF9CC;
  display: flex;
  flex-wrap: nowrap;
  height: 40px;
}

.username {
  color: #666666;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  padding-left: 40px;
  vertical-align: middle;
}

.index {
  color: #666666;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  vertical-align: middle;
  padding-left: 40px;
}

.text1 {
  color: #666666;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  padding-left: 40px;
  vertical-align: middle;
}

.text2 {
  color: #666666;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  padding-left: 150px;
  vertical-align: middle;
}

.text3 {
  color: #666666;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  padding-left: 40px;
  vertical-align: middle;
}

.container {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #EEFFFF;
  display: flex;
  flex-flow: row wrap;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.item {
  margin-left: 10px;
  margin-right: 10px;
}

.item-title {
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.border_radius {
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
}
