{% extends 'base.html' %}
{% load static %}

{% block customcss %}
<link rel="stylesheet" type='text/css' href="{% static 'home.css'%}">
{% endblock customcss %}

{% block header %}
<div class="header">
  <a href="{% url 'list' %}"　class="text1">HOME</a>
</div>
{% endblock header %}

{% block content %}
<div class="container">
  {% if user.is_authenticated %}
  <form action="" method="post" enctype="multipart/form-data"> {% csrf_token %}
  <p>タイトル：<input type="text" name="title"></p>
  <p>内容：<input type="text" name="content"></p>
  <p>画像：<input type="file" name="images"></p>
  <input type="hidden" name="author" value="{{ user.username }}">
  <button type="submit">{{ object|yesno:'更新,作成'}}</button>
  </form>
  {% else %}
  ログインしてください
  {% endif %}
</div>
{% endblock content %}
