{% extends 'base.html' %}

{% block customcss %}
{% endblock customcss %}

{% block header %}
<div class="alert alert-primary" role="alert">

</div>
{% endblock header %}

{% block content %}
<div class="container">
  <div class="alert alert-success" role="alert">
    <p><img src='{{ object.images.url }}' width=300 ></p>
    <p>タイトル：{{ object.title }}</p>
    <p>投稿者：{{ object.author }}</p>
    <p>コメント：{{ object.content }}</p>
    <a href="{% url 'good' object.pk %}" class="btn btn-primary" role="button" aria-pressed="true">いいねする</a>
  </div>
</div>
{% endblock content %}
