{% extends 'base.html' %}
{% load static %}

{% block customcss %}
<link rel="stylesheet" type='text/css' href="{% static 'home.css'%}">
{% endblock customcss %}

{% block header %}
<div class="header">
{% if user.is_authenticated %}
  <a href="{% url 'list' %}" class="text1">HOME</a>
  <a href="{% url 'logout' %}" class="text3">ログアウト</a>
{% else %}
  <a href="{% url 'list' %}" class="text1">HOME</a>
  <a href="{% url 'signup' %}" class="text2">ユーザー登録</a>
  <a href="{% url 'login' %}" class="text3">ログイン</a>
{% endif %}
</div>
{% endblock header %}

{% block content %}
<div class="container">
  {% if user.is_authenticated %}
  <div>
     <form action='{% url "update" boardmodel.id %}' method='post' class='form' enctype="multipart/form-data">
         {% csrf_token %}
         {{ form.as_p }}
        <button type='submit' class='submit'>{{ object|yesno:'更新,作成'}}</button>
        <!-- <a href="{{ boardmodel.get_absolute_url }}">戻る</a> -->
        <a href='JavaScript:history.back()'>&lt; 戻る</a>
     </form>
  </div>
  <!-- <div>
     <p>{{ form.content }}</p>
     <p>{{ form.images }}</p>
     <form action='{% url "update" boardmodel.id %}' method='post' class='form' enctype="multipart/form-data">
         {% csrf_token %}
         <button type='submit'>保存する</button>
         <a href='{% url "detail" boardmodel.id %}'>戻る</a>
     </form>
  </div> -->
  {% else %}
  ログインしてください
  {% endif %}
</div>
{% endblock content %}
